<h1>{{appTitle}} </h1>

<div class="container home">
    <div class="hijo">
        <h1> bienvenidos disfrutones!</h1>
        <a href="/registro" class="btn btn-outline-primary d-grid gap-2 col-12">Registrate</a>
        <a href="/inicio-sesion" class="btn btn-outline-primary d-grid gap-2 col-12">Inicio de sesion</a>

    </div>
</div>